<h1>Login</h1>

<%= form_tag '/users/sign_in' do |f| %>

  <p>
  	<%= f.label_tag :username %>
  	<%= f.text_field_tag :username %>
  </p>

  <p>
  	<%= f.label.tag :password %>
  	<%= f.password_field.tag :password %>

  	submit_tag

  	
  </p>


<% end %>