<h1>Create New Post</h1>
<hr>

<%= form_for @post do |f|  %>
	<p>
		<%= f.label :title %>
	</p>
	<p class="title_content">
		<%= f.text_area :title, size: '90x1', :placeholder => 'Add Your Blog Post Title...' %>
	</p>
	<br class="desktop_break">
	<br>
	<p>
		<%= f.label :content %>
	</p>
	<p class="form_content">
		<%= f.text_area :content, size: '150x30', :placeholder => 'Add Your Blog Post Content...'  %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>