<h1>Create New Post</h1>
<hr>

<%= form_for @post do |f|  %>
	<p class="title_content">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<br>
	<br>
	<p class="form_content">
		<%= f.label :content %>
		<%= f.text_field :content %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>