<h1><%= @post.title %></h1>


<hr>
<br>
<strong>
	<p> <%= @post.content %> </p>
</strong>
<hr>
<p><%= link_to "Like This Post", like_path(apple: @post.id), method: :get, remote: true, class:"likeButton" %></p>
<p class="runningLikeTotal"><%= @likeAmount %></p>
 <!-- ****************************************************************************************************************************** -->


<div class= "comment_wrapper">
	<br>
	<%= form_for @newComment, url: create_comment_path do |f| %>

		<p class="main_comment_form">
			<%= f.text_area :content, size: '75x1', :placeholder => 'Write A Comment...' %>
		</p>
		<p>
			<%= f.hidden_field :hidden, :value => @post.id %>
		</p>
		<p class="main_comment_form">
			<%= f.submit %>
		</p>

	<% end %>


	<% while @counter < @comment.length %>

		<% 
			@thisCommentId = @comment[@counter].id 
			@commentcomment = Commentoncomment.where(comment_id: @thisCommentId)
		%>
		<div class="larger-thumbs"><%= image_tag User.find(@comment[@counter].user_id).image.url() %></div>
		<p class="comment"> <span class="username_comment"> <%= link_to User.find(@comment[@counter].user_id).username, user_path(User.find(@comment[@counter].user_id).id) %> </span> ~ <%= @comment[@counter].content %> </p>

			
			<div class="replies">
				<!-- loop thru this with a while loop inside of the comment block to add replies underneath-->
				<% while @counter2 < @commentcomment.length  %>
				<div class="thumbs reply"><%= image_tag User.find(@commentcomment[@counter2].user_id).image.url() %></div>
					<p class= "comment_comment"> <span class="username_comment_comment"> <%= link_to User.find(@commentcomment[@counter2].user_id).username, user_path(User.find(@commentcomment[@counter2].user_id).id) %> </span> ~ <%= @commentcomment[@counter2].content %> </p>
					<% @counter2 += 1 %>
				<% end %>
			</div>
		<% @counter2 = 0 %>
		<br>

		<div class="form2">
			<%= form_for @newCommentonComment, url: another_comment_path do |f| %>
				<p class="comment_comment_form">
					<%= f.text_area :content, size: '50x1', :placeholder => 'Write A Reply...' %>
				</p>
				<p>
					<%= f.hidden_field :hidden, :value => @post.id %>
				</p>
				<p>
					<%= f.hidden_field :hidden2, :value => @comment[@counter].id %>
				</p>
				<p class="comment_comment_form">
					<%= f.submit "Reply to Comment" %>
				</p>
			<% end %>
		</div>

		<% @counter += 1 %>
	<% end %>
	<% @counter = 0 %>
</div>

<script type="text/javascript">
	$(".likeButton").on("ajax:complete", function(element, data, status) {

		$(".runningLikeTotal").text(data.responseText);
		console.log("Testing Console!!!")
	});


</script>


<script type="text/javascript">
	
	$(document).on('ready', function(event) {
  // initialize persistent state
  console.log("testConsole")

});

$(document).on('page:fetch', function(event) {
  // apply non-idempotent transformations to the body
  console.log("Test Fetch")
});

$(document).on('page:receive', function(event) {
  // apply non-idempotent transformations to the body
  console.log("Test Receive")
});

</script>











