<h1><%= @post.title %></h1>


<hr>
<br>
<strong>
	<p> <%= @post.content %> </p>
</strong>
<hr>

<div class= "comment_wrapper">
	<br>
	<%= form_for @newComment, url: create_comment_path do |f| %>

		<p class="main_comment_form">
			<%= f.text_area :content, size: '75x1', :placeholder => 'Write A Comment...' %>
		</p>
		<p>
			<%= f.hidden_field :hidden, :value => @post.id %>
		</p>
		<p class="main_comment_form">
			<%= f.submit %>
		</p>

	<% end %>


	<% while @counter < @comment.length %>

		<% 
			@thisCommentId = @comment[@counter].id 
			@commentcomment = Commentoncomment.where(comment_id: @thisCommentId)
		%>
		<p class="comment"> <span class="username_comment"> <%= link_to User.find(@comment[@counter].user_id).username, user_path(User.find(@comment[@counter].user_id).id) %> </span> ~ <%= @comment[@counter].content %> </p>

			
			<!-- loop thru this with a while loop inside of the comment block -->
			<% while @counter2 < @commentcomment.length  %>
			<div class="thumbs"><%= image_tag User.find(@commentcomment[@counter2].user_id).image.url() %></div>
				<p class= "comment_comment"> <span class="username_comment_comment"> <%= link_to User.find(@commentcomment[@counter2].user_id).username, user_path(User.find(@commentcomment[@counter2].user_id).id) %> </span> ~ <%= @commentcomment[@counter2].content %> </p>
				<% @counter2 += 1 %>
			<% end %>
		<% @counter2 = 0 %>
		<br>

		<%= form_for @newCommentonComment, url: another_comment_path do |f| %>
			<p class="comment_comment_form">
				<%= f.text_area :content, size: '50x1', :placeholder => 'Write A Reply...' %>
			</p>
			<p>
				<%= f.hidden_field :hidden, :value => @post.id %>
			</p>
			<p>
				<%= f.hidden_field :hidden2, :value => @comment[@counter].id %>
			</p>
			<p class="comment_comment_form">
				<%= f.submit %>
			</p>
		<% end %>

		<% @counter += 1 %>
	<% end %>
	<% @counter = 0 %>
</div>
















