<!DOCTYPE html>
<html>
<head>
  <title>Railstest1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul class="header_links">
			<li><%= link_to 'Create New User', new_path %></li>
			<li><a href="">List Item 2</a></li>
			<li><a href="">List Item 3</a></li>
			<li><%= link_to 'Home', root_path %></li>
		</ul>
	</header>
	<br>
	<p class="flash_notice"><%= flash[:notice] %></p>
<%= yield %>

</body>
</html>
