<!DOCTYPE html>
<html>
<!--

 ╭╮╭╮╭╮╱╱╭╮╱╱╱╱╱╱╱╱╱╱╱╱╭╮
┃┃┃┃┃┃╱╱┃┃╱╱╱╱╱╱╱╱╱╱╱╱┃┃
┃┃┃┃┃┣━━┫┃╭━━┳━━┳╮╭┳━━┫┃
┃╰╯╰╯┃┃━┫┃┃╭━┫╭╮┃╰╯┃┃━╋╯
╰╮╭╮╭┫┃━┫╰┫╰━┫╰╯┃┃┃┃┃━╋╮
╱╰╯╰╯╰━━┻━┻━━┻━━┻┻┻┻━━┻╯
 
-->
<head>
  <title>jumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600italic,400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul class="header_links">
			<% if session[:user_id] %>
				<li><%= link_to 'Logout', destroy_session_path %></li>		
				<li><%= link_to 'Preferences', user_path(session[:user_id]) %></li>		
				<li><%= link_to 'See All Users', allusers_path %></li>						
				<li><%= link_to 'Check Latest Posts', posts_index_path %></li>		
				<li><%= link_to 'Create New Post', posts_path %></li>						
				<li><%= link_to 'Home', root_path %></li>
			<% else %>
				<li><%= link_to 'Login', login_path %></li>
				<li><%= link_to 'Create New User', new_path %></li>
				<li><%= link_to 'Home', root_path %></li>
			<% end %>
		</ul>
		<ul class="mobile_header_links">
			<% if session[:user_id] %>
				<li><%= image_tag 'jumblr-logo.gif', :class => 'jumblr_logo_mobile' %></li>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Create New Post', posts_path %></li>	
				<li><%= link_to 'Check Latest Posts', posts_index_path %></li>	
				<li><%= link_to 'See All Users', allusers_path %></li>	
				<li><%= link_to 'Preferences', user_path(session[:user_id]) %></li>		
				<li><%= link_to 'Logout', destroy_session_path %></li>		
			<% else %>
				<li><%= link_to 'Login', login_path %></li>
				<li><%= link_to 'Create New User', new_path %></li>
				<li><%= link_to 'Home', root_path %></li>
			<% end %>
		</ul>
	
		<%= image_tag 'jumblr-logo.gif', :class => 'jumblr_logo' %>
	</header>
		<hr class="clearing_hr">
	<div class="body_wrapper">
		<br>
		<% if flash[:notice] %>
			<p class="flash_message"><%= flash[:notice] %></p>
			<br>
		<% end %>
		<% if flash[:alert] %>
			<p class="flash_message"><%= flash[:alert] %></p>
			<br>
		<% end %>
		
		<%= yield %>

		<% if session[:user_id] %>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<footer>
				<p>Currently Signed in as Username: <%= User.find(session[:user_id]).username %> </p>
			</footer>
		<% end %>
	</div>
</body>
</html>
